.introduce_box{
  img{
    width: 100%;
    margin-bottom: 50px;
    position: relative;
  }

  section{
    width: 1240px;
    margin: 0 auto;
    text-align: center;
    img{
      margin: 50px 0;
    }
  }
}








