@mixin size($width){
  width: $width;
}

.bathbam{
  .bathbam_box{
    @include size(288px);
    text-align: center
  }
  img{
    @include size(288px);
  }
}

.product_img{
  width: 100%;
    img{
      width: 100%;
    }
}

.bathbam{
  width: 1240px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
    .bathbam_box{
      width: 288px;
      text-align: center;
      p{
        height: 30px;
      }
    }
}

.shower{
  width: 1240px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
    .shower_box{
      @include size(288px);
      text-align: center;
      p{
        height: 30px;
      }
    }
}

.pro_menu{
  width: 1240px;
  margin: 0 auto;
  height: 80px;
  .btn_pro_menu{
    margin: 30px 0;
    button{
      width: 150px;
      height: 60px;
      line-height: 60px;
      border: none;
      background-color: black;
      &:nth-child(2){
        margin: 0 10px;
      }
      a{
        color: white;
      }
      &:hover{
        background-color: #ccc;
        a{
          color: black;
        }
      }
    }
  }
}

.more_txt{
  font-size: 30px;
  text-align: center;
}





