*{margin: 0; padding: 0;}
li{list-style: none;}
a{color: black; text-decoration: none;}

.main_logo{
  cursor: pointer;
  width: 150px;
  height: 70px;
}

.container{
  width: 1240px;
}

.navbar-expand .navbar-nav{
  width: 70%;
  height: 80px;
  line-height: 65px;
}

.navbar-expand .navbar-nav i{
  font-size: 32px;
}

.gnb{
  width: 30%;
  height: 80px;
  overflow: hidden;
  margin: 0;
  padding: 20px 90px;
}

.gnb li{
  float: left;
}

.gnb li:nth-child(2){
  margin: 8px 30px;
}

.footer_icon{
  width: 100%;
  background-color: #f2f2f2;
}

.footer_icon .footer_icon_box{
  width: 1240px;
  overflow: hidden;
  margin: 0 auto;
}

.footer_icon .footer_icon_box div{
  width: 206px;
  height: 170px;
  float: left;
}

.footer_icon .footer_icon_box div img{
  width: 150px;
  height: 150px;
}

.footer{
  width: 100%;
  background-color: black;
}

.footer .footer_box{
  width: 1240px;
  margin: 0 auto;
  color: white;
  padding: 20px 20px;
}

.footer .footer_box a{
  color: white;
}

.footer .footer_box .footer_top{
  display: flex;
  justify-content: space-between;
}

.footer .footer_box .footer_top div{
  width: 620px;
}

.footer .footer_box .footer_top div input{
  margin: 0 10px 30px 0;
}

.footer .footer_box .footer_top nav{
  width: 620px;
}

.footer .footer_box .footer_top nav ul{
  overflow: hidden;
}

.footer .footer_box .footer_top nav ul li{
  float: left;
  width: 155px;
  text-align: center;
}

.footer .footer_box .footer_bottom{
  display: flex;
  justify-content: space-around;
}

.footer .footer_box .footer_bottom .footer_contact{
  width: 620px;
  overflow: hidden;
}

.footer .footer_box .footer_bottom .footer_contact>div{
  width: 300px;
  float: left;
}

.footer .footer_box .footer_bottom .footer_contact>div p{
  margin-bottom: 0;
}

.footer .footer_box .footer_bottom .footer_contact>div p:first-child{
  font-weight: bold;
}

.footer .footer_box .footer_bottom .footer_info{
  width: 620px;
  font-size: 14px;
}

.footer .footer_box .footer_bottom .footer_info p{
  margin-left: 70px;
}





